<div class="container">
    <h1>Test page</h1>
    <h3> <%= @date.strftime("%a, %d/%m") %> </h3>
    <%= link_to "Previous day", index_path(day_shift: @day_shift - 1), :class => "btn btn-primary" %>
    <%= link_to "Next day", index_path(day_shift: @day_shift + 1), :class => "btn btn-primary"  %>

    <div class="row">
         <% @all_menus.each do |restaurant| %>
            <%= render partial: "restaurant", locals: { data: restaurant } %>
         <% end %>
        <%# <%= render partial: "restaurant", locals: { data: @reaktori_data} %> %>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>